* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 80%;
    height: 70vh;
    background-color: #eee;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.col-one {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.col-one input {
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
}
.col-one input:focus  {
    outline: none;
}
.col-one input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    font-size: 17px;
    color: #00000066;
}

button {
    width: 70%;
    padding: 10px 20px;
    background-color: rgb(68, 55, 246);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    cursor: pointer;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
button:hover {
    background-color: rgb(50, 36, 249);
    letter-spacing: 2px;
}

.col-two {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.col-two p {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}